#level-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(107, 107, 107);
  font-weight: 500;
  cursor: default;
}

#level-display > * {
  margin: 5px 0;
}

.level-number-indicator {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 40px;
  min-width: 40px;
  border-radius: 12px;
  padding: 2px 8px;
  background-color: rgb(92, 189, 181); 
}