@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');

:root {
  --word-button-focus-color: rgb(189, 189, 189);
  --gentle-red: rgb(206, 57, 57);
  --gentle-red-border: rgb(182, 49, 49);
  --gentle-green:  rgb(120, 200, 0);
  --gentle-green-border:  rgb(106, 177, 0);
  --word-sweep-duration: 400ms;
}

body {
  background-color: white;
}

* {
  font-family: 'Work Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.App {
  margin: auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: fit-content;
  padding: 50px 0px;
  border-radius: 16px;
}

#status-text {
  font-size: 18px;
  font-weight: 500;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(68, 68, 68);
  height: 40px;
  min-width: 225px;
  border-radius: 12px;
  padding: 3px 16px;
  border: solid 2px;
  border-color: rgb(226, 226, 226);
  background-color: rgb(245, 245, 245);
}

.move-into-view {
  animation: sweep-in var(--word-sweep-duration) cubic-bezier(0.33, 1, 0.68, 1);
  animation-fill-mode: forwards;
}

.move-out-of-view {
  animation: sweep-out var(--word-sweep-duration) cubic-bezier(0.12, 0, 0.39, 0);
  animation-fill-mode: forwards;
  background: white;
}

@keyframes sweep-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
} 

@keyframes sweep-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-200px);
    opacity: 0;
  }
}